<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Text Extractor</title>
</head>
<body>
  <h1>Text Extractor</h1>
  <h2>Extract data from any piece of writing</h2>
  <form method="POST" action="/">
    <div>
      <textarea name="text" required="required"></textarea>
    </div>
    <div>
      <input type="submit">
    </div>
  </form>
  {% if data %}
    <div class="datatable">
      <div class="datarow">
        <h1 class="datatitle">Metadata</h1>
      </div>
      <div class="datarow">
        <h1 class="datatitle">Common Sort</h1>
      </div>
      <div class="datarow">
        <h1 class="datatitle">Alphabetical Sort</h1>
      </div>
    </div>
  {% endif %}
</body>
</html>